<div class="container px-xl-0">
    <div class="row justify-content-between align-items-center lh-40 links">
        <div class="mb-10 mb-lg-0 col-lg-4 col-sm-6 text-sm-left">
            <a href="#" class="link color-white mw-200">
                <img src="../i/textnegative.png" alt="Logo" class="img-fluid mw-200" data-aos="fade-down"
                    data-aos-delay="0">
            </a>
        </div>
        <div class="mt-10 col-lg-4 col-md-8 col-sm-8 text-sm-left" data-aos="fade-down" data-aos-delay="0">
            <div class="text-adaptive color-gray">
                Neue Hard 12 8005 Zurich | +76 604 45 65
            </div>
        </div>
        <div class="col-lg-4 col-sm-2 text-lg-right" data-aos="fade-down" data-aos-delay="250">
            <a href="#" class="mx-15 link color-white">
                <i class="fab fa-facebook-square">
                </i>
            </a>
            <a href="#" class="ml-15 link color-white">
                <i class="fab fa-instagram">
                </i>
            </a>
        </div>
    </div>
</div>