<nav class="header_menu_6 pt-30 pb-30 mt-30">
    <div class="container mw-970 px-xl-0">
        <div class="row justify-content-between align-items-center">
            <div class="col-lg-2 text-left">
                <a href="#" class="link img_link mw-50">
                    <img src="i/textnegative.png" alt="Logo" class="img-fluid mw-200" data-aos="fade-down"
                        data-aos-delay="750">
                </a>
            </div>
            <div class="col-lg-5 d-flex align-items-center" data-aos="fade-down" data-aos-delay="1000">
                <a href="index.html" class="link color-white f-18 medium mr-30">
                    {{page.menuHome}}
                </a>
                <a href="collaborate.html" class="link color-white f-18 medium mr-30">
                    {{page.menuCollaborate}}
                </a>
                <a href="agenda.html" class="link color-white f-18 medium mr-30">
                    {{page.menuAgenda}}
                </a>
                <a href="#" class="link color-white f-18 medium">
                    {{page.menuBlog}}
                </a>
            </div>
            <div class="col-lg-2 d-flex justify-content-end align-items-center" data-aos="fade-down"
                data-aos-delay="1000">
                <a href="{{site.baseurl}}/{{page.layout}}" class="btn sm color-white f-18 medium noradius border">
                    DE
                </a>
                <a href="{{site.baseurl}}/{{page.layout}}-en" class="btn sm action-1 noradius">
                    EN
                </a>
            </div>
        </div>
    </div>
</nav>
