<a class="open_menu color-main bg-light radius_full">
    <i class="fas fa-bars lh-40">
    </i>
</a>
<div class="navigation_mobile bg-light type2">
    <a class="close_menu color-main">
        <i class="fas fa-times">
        </i>
    </a>
    <div class="px-40 pt-60 pb-60 text-center inner">
        <div>
            <a href="#" class="f-heading f-22 link color-main mb-20">
                {{page.menuHome}}
            </a>
        </div>
        <div>
            <a href="collaborate.html" class="f-heading f-22 link color-main mb-20">
                {{page.menuCollaborate}}
            </a>
        </div>
        <div>
            <a href="agenda.html" class="f-heading f-22 link color-main mb-20">
                {{page.menuAgenda}}
            </a>
        </div>
        <div>
            <a href="#" class="f-heading f-22 link color-main mb-20">
                {{page.menuBlog}}
            </a>
        </div>
        <div class="mt-40">
            {% if page.layout == "index" %}
            <a href="{{site.baseurl}}/" class="f-18 link color-main op-7 text-uppercase sp-20 mb-20">
                DE
            </a> | <a href="{{site.baseurl}}/en" class="f-18 link color-main op-7 text-uppercase sp-20 mb-20">
                EN
            </a>
            {% else %}
            <a href="{{site.baseurl}}/{{page.layout}}" class="f-18 link color-main op-7 text-uppercase sp-20 mb-20">
                DE
            </a> | <a href="{{site.baseurl}}/en/{{page.layout}}" class="f-18 link color-main op-7 text-uppercase sp-20 mb-20">
                EN
            </a>
            {% endif %}
        </div>
        <div class="socials mt-60">
            <a href="#" target="_blank" class="link color-main f-18 mx-10">
                <i class="fab fa-facebook">
                </i>
            </a>
            </a>
            <a href="https://www.instagram.com/recreazzz.repair/" target="_blank"
                class="link color-main f-18 mx-10">
                <i class="fab fa-instagram">
                </i>
            </a>
            </i>
            </a>
        </div>
    </div>
</div>